@import "nullstyles.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(247, 248, 249);
}

body.no-scroll {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: white;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header-block h1 {
  font-size: 28px;
  font-weight: 700;
  text-wrap: nowrap;
}

.header-block nav ul {
  display: flex;
  font-size: 18px;
  color: rgb(75, 75, 75);
}

.header-block nav ul li:not(:last-child) {
  margin-right: 30px;
}

.logo-block {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-block img {
  height: 20px;
  margin: -2px 5px 0 0;
}

.dropdown-block {
  position: relative;
}

.dropdown-block li:first-child {
  margin-right: 30px;
}

.dropdown-menu {
  position: absolute;
  top: 25px;
  left: -15px;

  background-color: rgb(252, 241, 243);
  color: rgb(233, 72, 144);
  border-radius: 15px;

  padding: 10px 15px;
}

.dropdown-menu li:not(:last-child) {
  margin-bottom: 15px;
  margin-right: 0 !important;
}

.dropdown-menu li:hover {
  text-decoration: underline;
}

.user-block {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-block img {
  height: 18px;
  margin-right: 5px;
}

main {
  margin-bottom: 100px;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.content-block {
  margin-top: 50px;
}

.content-block h2 {
  font-size: 24px;
  font-weight: 700;
}

.content-block {
  border-bottom: 1px solid rgba(75, 75, 75, 0.2);
  padding-bottom: 10px;
  margin-bottom: 30px;
}

article {
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
}

.sortby-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -15px;
  color: rgb(75, 75, 75);
}

.sortby-block ul {
  display: flex;
}

.sortby-block li {
  margin-left: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.sortby-block li:hover {
  box-shadow: inset 0 0 0 1px rgb(75, 75, 75);
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
}

.sortby-block li:active {
  box-shadow: none;
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
}

.sortby-block li img {
  height: 13px;
}

@media (max-width: 357px) {
  .sortby-block {
    flex-direction: column;
  }

  .sortby-block h3 {
    margin-bottom: 10px;
  }
}

.article-img {
  height: 300px;
  /* max-width: 800px; */
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}
.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 20px;
}

.article-action {
  display: flex;
}

.article-topic {
  padding: 5px 15px;
  background-color: rgb(251, 241, 243);
  border-radius: 15px;
  cursor: pointer;
}

.article-topic h3 {
  text-transform: uppercase;
  color: #dd1331;
  letter-spacing: 1px;
  font-weight: 500;
}

.article-comments {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.article-comments:hover {
  text-decoration: underline;
}

.article-comments p {
  margin-left: 3px;
}

.article-comments img {
  width: 20px;
  transform: scaleX(-1);
}

.article-likes {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.article-likes:hover {
  text-decoration: underline;
}

.article-likes img {
  height: 16px;
}

.article-likes p {
  margin-left: 5px;
}

.article-block {
  padding: 30px;
}

.article-block h2 {
  display: inline;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.article-block p {
  margin-top: 12px;
  color: rgb(115, 115, 115);
  line-height: 1.2;
}
.article-block p span {
  font-weight: 500;
  color: rgb(75, 75, 75);
  cursor: pointer;
}

.comments-block {
  padding: 30px;
  position: relative;
}

.comments-block h2 {
  font-size: 18px;
  font-weight: 700;
}

.comments-block form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comments-block label {
  width: 100%;
}

.comments-block textarea {
  width: 100%;
  height: 70px;
  padding: 10px 15px;
  border-radius: 10px;
  color: rgb(75, 75, 75);
  resize: none;
}

.submit-btn {
  margin-top: 15px;
  width: 100px;
  padding: 5px 15px;
  border-radius: 7px;
  background-color: rgb(235, 34, 42);
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.comment-body {
  /* border-bottom: 1px dotted rgb(115, 115, 115); */
  /* padding-bottom: 20px; */
  margin: 25px 0 0 0;
}

.comment-info-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-info-body button {
  color: rgb(235, 34, 42);
  font-weight: 400;
  background-color: inherit;
}

.comment-info-body button:hover {
  text-decoration: underline;
}

.comment-info {
  display: flex;
  align-items: center;
}

.comment-info h3 {
  font-weight: 700;
  color: rgb(75, 75, 75);
}

.comment-info p {
  margin-left: 7px;
  white-space: nowrap;
  color: rgb(115, 115, 115);
}

.comment-text p {
  margin-top: 10px;
  color: rgb(115, 115, 115);
}

.comment-input {
  border: 1px solid rgb(235, 34, 42);
}

.comment-alert {
  color: rgb(235, 34, 42);
  position: absolute;
  top: 140px;
  left: 40px;
}

.alert-green {
  color: #068406;
  position: absolute;
  top: 140px;
  left: 40px;
  line-height: 1.2;
}

@media (max-width: 575px) {
  .alert-green {
    width: 200px;
    font-size: 13px;
  }

  .comment-alert {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .alert-green {
    width: 130px;
    font-size: 13px;
  }

  .comment-alert {
    width: 130px;
  }
}

.article-vote {
  display: flex;
  align-items: center;
}

.vote-number {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-vote p {
  margin: 0 10px;
  font-weight: 700;
}

.article-vote button {
  height: 15px;
  width: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;

  background-color: #068406;
  color: white;
}

.article-vote button:last-child {
  background-color: #dd131a;
  color: white;
}

.article-vote button:hover {
  opacity: 0.85;
  transition: opacity 0.1s ease-in-out;
}

.article-vote button:active {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.notfound-block {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;
}

.notfound-body {
  max-width: 400px;
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  line-height: 1.1;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notfound-body button {
  padding: 5px;
  border-radius: 50%;

  position: absolute;
  top: 20px;
  right: 30px;
  background-color: inherit;
  text-decoration: underline;
  font-size: 14px;
}

.notfound-body button:hover {
  color: #dd131a;
  transition: color 0.1s ease-in-out;
}

.notfound-body button:active {
  color: rgba(221, 19, 26, 0.8);
}

.notfound-body h2 {
  font-size: 100px;
  font-weight: 700;
  color: black;
}

.notfound-body h3 {
  font-size: 36px;
  font-weight: 700;
  color: #dd131a;
  margin-top: -5px;
  font-weight: 900;
  text-wrap: nowrap;
}

.notfound-body p {
  margin-top: 10px;
  color: rgb(115, 115, 115);
  max-width: 250px;
  text-align: center;
  line-height: 1.5;
}

.contact-block {
  background: white;
  color: rgb(0, 0, 0);
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 20px rgb(115, 115, 115, 0.1);
  max-width: 600px;
  margin: 50px auto;
}

.contact-block h3 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-block h4 {
  color: rgb(248, 31, 41);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-block p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.contact-block:before {
  content: "🔧";
  font-size: 36px;
  display: block;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .contact-block {
    padding: 30px 20px;
    font-size: 16px;
  }

  .contact-block h3 {
    font-size: 36px;
  }

  .contact-block h4 {
    font-size: 24px;
  }

  .contact-block p {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .header-block {
    flex-direction: column;
  }

  .logo-block,
  .header-block nav {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .article-img {
    height: 200px;
  }
}

@media (max-width: 370px) {
  .comment-info {
    flex-direction: column;
    align-items: start;
  }
  .comment-info p {
    margin: 5px 0 0 0;
  }
}
